flask==2.3.1
Bootstrap-Flask==2.4.0
gunicorn==22.0.0
eventlet==0.36.1
flask_sqlalchemy==3.1.1
flask_migrate==4.0.7
flask_script==2.0.6
flask_login==0.6.3
flask_bcrypt==1.0.1
SQLAlchemy==2.0.30