<!-- Text Block Modal -->
<div class="modal fade" id="modal_text_block" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Add New Text Block</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" data-dismiss="modal" aria-label="Close"></button>

			</div>
			<div class="modal-body">
				<label class="row p-3 pb-0">Block Name</label>
				<div class="row  p-2">
					<input name="textblock_name" class="col border-0 rounded-5 bg-extra-light shadow-sm " type="text"/>
				</div>
				<label class="row  p-3 pb-0">Initial Text</label>
				<div class="row  p-2">
					<textarea name="textblock_text" class="col border-0 rounded-3 bg-extra-light shadow-sm " ></textarea>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary"  data-dismiss="modal"  onclick=" codepage.create_new_block('TextBlock',  $('input[name=textblock_name]').val() , $('textarea[name=textblock_text]').val() )">
					Add New Block
				</button>
			</div>
		</div>
	</div>
</div>
<!-- Code Block Modal -->
<div class="modal fade" id="modal_code_block" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Add New Text Block</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" data-dismiss="modal" aria-label="Close"></button>

			</div>
			<div class="modal-body">
				<label class="row p-3 pb-0">Block Name</label>
				<div class="row  p-2">
					<input name="codeblock_name" class="col border-0 rounded-5 bg-extra-light shadow-sm " type="text"/>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary"  data-dismiss="modal"  onclick=" codepage.create_new_block('CodeBlock',  $('input[name=codeblock_name]').val()  )">
					Add New Block
				</button>
			</div>
		</div>
	</div>
</div>
<!-- Choice Block Modal -->
<div class="modal fade" id="modal_choice_block" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Add New Text Block</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" data-dismiss="modal" aria-label="Close"></button>

			</div>
			<div class="modal-body">
				<label class="row p-3 pb-0">Block Name</label>
				<div class="row  p-2">
					<input name="choiceblock_name" class="col border-0 rounded-5 bg-extra-light shadow-sm " type="text"/>
				</div>
				<label class="row  p-3 pb-0">Text</label>
				<div class="row  p-2">
					<textarea name="choiceblock_text" class="col border-0 rounded-3 bg-extra-light shadow-sm " ></textarea>
				</div>
				<label class="row  p-3 pb-0">Choices</label>
				<ul class="p-0">
					<script>
						let ids = [0,1,2,3,4,5,6,7,8,9]
						let curr_ids = []
						function remove_choice(place){
							if(curr_ids.length > 0){
								let input_name = $(place.parentNode.children[0]).attr("name");
								let choice_id = parseInt(input_name[input_name.length -1]);

  								curr_ids.splice(curr_ids.indexOf(choice_id) , 1);

								place.parentNode.remove();
							}
						}
						function add_choice(place){
							let intersection = ids.filter(x => !curr_ids.includes(x));

							if(curr_ids.length < 10 ){
								$(place.parentNode).append("<li class='row  pb-1'> <input name='choice_"+intersection[0]+"' class='col border-0 rounded-5 bg-extra-light shadow-sm ' type='text'  /><button type='button' class='btn-close p-2'  aria-label='Close' style='font-size:13pt' onclick=' remove_choice(this) '></button></li>");
								
								curr_ids.push(intersection[0])
							} 
						}
						function submit(){
							let choices = [];
							for( id in curr_ids){
								choices.push($('input[name=choice_'+id+']').val());
							}
							codepage.create_new_block('ChoiceBlock',  $('input[name=choiceblock_name]').val() , $('textarea[name=choiceblock_text]').val(), choices);
						}
					</script>
					<button type="button " class="btn p-1 m-2"  aria-label="Close" style="font-size:13pt" onclick="add_choice(this);">add choice</button>
					

				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary"  data-dismiss="modal"  onclick=" submit()">
					Add New Block
				</button>
			</div>
		</div>
	</div>
</div>
