{% extends "layout.html" %}
{% block content %}

    <div class="container">
        {% for sandbox in sandboxes %}
            <div class="sandbox-item rounded-3">
                <h3>{{ sandbox.title }}</h3>
                <div>Created by <a href="{{ url_for("user_profile", user_name=sandbox.author.user_name) }}">{{ sandbox.author.get_display_name() }}</a> on {{ sandbox.get_json()["date_created"] }}</div>
                <div>{{ sandbox.content|length }} blocks</div>
                <div class="mt-1">
                    <a class="btn" href="{{ url_for("edit_sandbox", sandbox_uuid=sandbox.uuid) }}">Edit</a>
                    <a class="btn btn-danger">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}

{% block scripts %}



{% endblock scripts %}