{% extends "main_layout.html" %}
{% block title %}Python Module 0{% endblock title %}
{% block content %}
<div class="container container-large mt-3">

	<div class="row">
		<div class="container container-large bg-light rounded-3 p-2">
			<div class="row p-1 justify-content-left">
				<button class="col-1 ms-2 me-2 btn btn-primary">New</button>
				<button class="col-1  me-2  btn btn-primary">Save</button>
				<button class="col-1   btn btn-primary">Open</button>
			</div>
		</div>
	</div>

</div>
{% endblock content %}