{% extends "layout.html" %}
{% block content %}

	<div class="container container-small mt-5">
		<div class="row">
			<h1 class="display-6  text-center">
				Settings
			</h1>
		</div>
		<div class="row justify-content-center mt-5">
			<button class="col btn btn-lg btn-primary">Change Password</button>
		</div>
		<div class="row justify-content-center mt-3">
			<button class="col btn btn-lg btn-primary">Reset Account</button>
		</div>
		<div class="row justify-content-center mt-3">
			<button class="col btn btn-lg btn-primary">Delete Account</button>
		</div>
		<div class="row justify-content-center mt-3">
			<button class="col btn btn-lg btn-primary" onclick="location.href='/logout'" >Logout</button>
		</div>
	</div>

{% endblock content %}