{% extends "layout.html" %}
{% block content %}
	<div class="container container-large mt-5">
		<div class="row"  style="height: 600pt">
			<div class="col ps-2 " style="height:100%">
				{% if is_self %}
					!! This is your public profile - You are seeing you !!
				{% endif %}
				<div class="col  bg-light rounded-3 p-2 m-2"  style="height:100%; display:flex; flex-direction:column">
					<div class="row m-2" >
						<div class="col-md">
							<div class="row p-1">
								{% if current_user.picture %}
									<img alt="" class="border border-2 border-primary shadow rounded-circle p-0 m-2" style="width: 100px; height: 100px;" src=" {{current_user.get_profile_picture_path()}}">
								{% else %}
									<img alt="" class="border border-2 border-primary shadow rounded-circle p-0 m-2" style="width: 100px; height: 100px;" src="/static/images/profiles/default.png">
								{% endif %}
								<div class="col pt-3">
									<h1>{{ current_user.user_name }}</h1>
									<h4>{{ current_user.get_display_name() }}</h4>
								</div>
							</div>
						</div>

						<div class="col">
							<div class="row">
								<div class="col">
									<h3 class="text-center m-0">{{posts|length}}</h3>
									<h3 class="text-center">Posts</h3>
								</div>
							</div>
							<div class="row">
								{% if not is_self %}
									<button class="col btn btn-primary m-2" onclick="location.href='/edit_profile'">Add Friend</button>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="row mt-2" style="flex: 1 1 0%">
						<div class="bio-area container bg-extra-light rounded-3 p-4">
							{{ current_user.bio}}
						</div>
					</div>
					<div class="row overflow-scroll m-2"  style="max-height: 50%" >
					<div class="col ">
							<div class="row ">
								{% if posts %}
									{% for post in posts %}
								<div class=" col bg-extra-light rounded-3 p-3 m-2" style="min-width: 150px; flex: 1 1 250px;">
									<div class=" nav-link p-1 mb-1" >
										<img alt="" class=" shadow-sm rounded-circle " width=42 height=42 src="{{current_user.get_profile_picture_path()}}">
										<h5 class=" d-inline-block m-2" style="line-height: 42px">{{post.author.get_display_name()}}</h5>
									</div>
									<p class=" text-truncate">{{post.title }}</p>
									<div class=" spread"> 
										<small class=" justify-content-center text-muted mb-1">posted {{post.time_ago }} </small>
										<small ><a class="inline a-underline" href={{url_for("view_post", post_uuid=post.uuid)}}>view</a> </small>
									</div>
								</div>
								{% endfor %}
								{% else %}
									<p>There are no posts yet :( </p>
								{% endif %}
								
							</div>
						</li>
					</div>
				</div>
				</div>
			</div>
			
		</div>
	</div>
</div>

{% endblock content %}

{% block scripts %}

	<script>
		function  updateSquareElements(){
			$('.square').height( ($('.square').width( ) ));

		}
		function updateSquareElementsByWidth(){

			$('.square-w').width( ($('.square-w').height( ) ));
		}
		$(document).ready(function() {updateSquareElements();updateSquareElementsByWidth()});
		$( window ).on("resize", function() {updateSquareElements();updateSquareElementsByWidth()});

	</script>

{% endblock scripts %}
