{% extends "layout.html" %}
{% block content %}

    <div class="container container-large mt-4">
        <div id="test">

        </div>
        <div class="row justify-content-center" id="finish" style="margin: 20px;">
            <div class="col-1 justify-content-center">
            <a href="{{ url_for("modules") }}"><button class="col-auto m-2 btn justify-content-center" onClick="">Complete</button></a>
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}

    <script src="{{ url_for('static', filename='js/codemirror/lib/codemirror.js') }}"></script>
    <script src="{{ url_for('static', filename='js/codemirror/mode/python/python.js') }}"></script>
    <script src="/static/js/codepage_scripts/codepage_loader.js"></script>
    <script src="/static/js/codepage_scripts/skulpt_loader.js"></script>
    <script src="/static/js/codepage_scripts/style_rules.js"></script>

    <script>
    function createCodeBlock(div) {
        return CodeMirror(div, {lineNumbers: true, mode: "python", theme: "darcula"})
    }
    load_codepage("test", {
    "title": "Module 1: Introduction To Python",
    "author": "Codigram",
    "sandbox_uuid": "ba6a534b-8414-4a1e-b687-1c5dafa15cf6",
    "date_created": "Aug 01, 2021 10:39 PM",
    "blocks": [
        {
            "name": "What is Python?",
            "text": "In the previous module, you learned that a programming language is a computer language that both humans and computers can understand. There are many programming languages out there, including Python. Python is known for being particularly easy to understand and learn. The language was first developed in the 1980s and is one of the most popular programming languages today. To get to know it better, let's jump into your first coding activity! ",
            "type": "TextBlock"
        },
        {
            "name": "Activity: Hello World!",
            "text": "To the right you will find the code window where you will be able to write code for any activity or project. When you're ready to test code that you have written, you can press run and whatever your code outputs will appear in the box below the code window. Let's write your first program. Type the following into the code window: print(\"Hello World!\"). Press run when you're ready and see what happens. ",
            "type": "TextBlock"
        },
        {
            "name": "Hello World!",
            "code": "",
            "type": "CodeBlock"
        }
    ]
})
    </script>

{% endblock scripts %}
