{% extends "main_layout.html" %}
{% block title %}Python Module 1{% endblock title %}
{% block content %}
<div class="container container-large mt-4">
	<div class="row">
		<h1 class="text-center"> Module 1 </h1>
	</div>
	<div class="row mt-1">
		<h2 class="text-center"> Introduction to Python </h1>
			<div class="row">
				<div class="container container-small bg-light rounded-3 p-2">
					<h2 class="text-center"> Sections </h2>
					<ul>
						<li> What is Python? </li>
						<li> Activity: Hello World! </li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col p-0" style=";">
				<div class="container container-medium bg-light rounded-3 p-3">
					<h2 class="text-center"> What is Python? </h2>
					<p>In the previous module, you learned that a programming language is a computer language that both humans and computers
						can understand. There are many programming languages out there, including Python. Python is known for being particularly
						easy to understand and learn. The language was first developed in the 1980s and is one of the most popular
					programming languages today. To get to know it better, let's jump into your first coding activity! </p>
				</div>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col p-0" >
				<div class="container bg-light rounded-3 p-3 ">
					<h2 class="text-center"> Hello World! </h2>
					<p class="text-center"> To the right you will find the code window where you will be able to write code for any activity or project. When you're
						ready to test code that you have written, you can press run and whatever your code outputs will appear in the box below the 
						code window. Let's write your first program. Type the following into the code window: print("Hello World!"). Press run when 
					you're ready and see what happens. </p>
				</div>
			</div>
			<div class="col-lg" style=";">
				<div class="container bg-light rounded-3 p-2">
					<h2 class="text-center"> Code window here </h2>
				</div>
			</div>
		</div>
		<div class="row justify-content-center mt-5 mb-5">
				<div class="container container-small bg-light rounded-3 p-2">
					<h2 class="text-center p-2" > Conclusion </h2>
					<p class="text-center p-2"> Complete the acitvity above to complete the module.</p>
					<div class="row justify-content-center" id="finish">

					</div>
				</div>
		</div>
	</div>
</div>
{% endblock content %}