{% extends "main_layout.html" %}
{% block title %} profile - {{ user.user_name}} {% endblock title %}
{% block content %}
	<div class="container container-large mt-4">
		<div class="row">
            <h1 style="text-align:center;"> Modules </h1>
        </div>
        <div class="row">
            <h2 style="text-align:center;"> Learning Python </h1>
        </div>
        <div class="row" style="padding:0px;">
            <div class="col" style="padding:50px;">
                <div class="container bg-light rounded-3 p-2">
                    <div class="row justify-content-center">
                        <h3 class="text-center">Module 0</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="text-center">What is Programming?</p>
                    </div>
                    <div class="row">
                        <p class="mb-0 text-center"  id="pymod0">Progress: 0%</p>
                    </div>
                    <div class="row justify-content-center">
                        <a class="text-center" href="./python_module0.html"><button class="col-auto m-2 btn ">Resume</button><button class="col-auto m-2 btn">Restart</button></a>
                    </div>
                </div>
            </div>
            <div class="col" style="padding:50px;">
                <div class="container bg-light rounded-3 p-2">
                    <div class="row justify-content-center">
                        <h3 class="text-center">Module 1</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="text-center">Introduction to Python</p>
                    </div>
                    <div class="row">
                        <p class="mb-0 text-center">Progress: 0%</p>
                    </div>
                    <div class="row justify-content-center">
                        <a class="text-center" href="./python_module1.html"><button class="col-auto m-2 btn ">Resume</button><button class="col-auto m-2 btn">Restart</button></a>
                    </div>
                </div>
            </div>
            <div class="col" style="padding:50px;">
                <div class="container bg-light rounded-3 p-2">
                    <div class="row justify-content-center">
                        <h3 class="text-center">Module 2</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="text-center">Introduction to Python Part 2</p>
                    </div>
                    <div class="row">
                        <p class="mb-0 text-center">Progress: 0%</p>
                    </div>
                    <div class="row justify-content-center">
                        <a class="text-center" href="./python_module2.html"><button class="col-auto m-2 btn ">Resume</button><button class="col-auto m-2 btn">Restart</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding:0px;">
            <div class="col" style="padding:50px;">
                <div class="container bg-light rounded-3 p-2">
                    <div class="row justify-content-center">
                        <h3 class="text-center">Module 3</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="text-center">Variables</p>
                    </div>
                    <div class="row">
                        <p class="mb-0 text-center" id="pymod0">Progress: 0%</p>
                    </div>
                    <div class="row justify-content-center">
                        <a class="text-center" href="./python_module0.html"><button class="col-auto m-2 btn ">Resume</button><button class="col-auto m-2 btn">Restart</button></a>
                    </div>
                </div>
            </div>
            <div class="col" style="padding:50px;">
                <div class="container bg-light rounded-3 p-2">
                    <div class="row justify-content-center">
                        <h3 class="text-center">Module 4</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="text-center">Arithmetic</p>
                    </div>
                    <div class="row">
                        <p class="mb-0 text-center">Progress: 0%</p>
                    </div>
                    <div class="row justify-content-center">
                        <a class="text-center" href="./python_module1.html"><button class="col-auto m-2 btn ">Resume</button><button class="col-auto m-2 btn">Restart</button></a>
                    </div>
                </div>
            </div>
            <div class="col" style="padding:50px;">
                <div class="container bg-light rounded-3 p-2">
                    <div class="row justify-content-center">
                        <h3 class="text-center">Module 5</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="text-center">Strings</p>
                    </div>
                    <div class="row">
                        <p class="mb-0 text-center">Progress: 0%</p>
                    </div>
                    <div class="row justify-content-center">
                        <a class="text-center" href="./python_module2.html"><button class="col-auto m-2 btn ">Resume</button><button class="col-auto m-2 btn">Restart</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding:0px;">
            <div class="col" style="padding:50px;">
                <div class="container bg-light rounded-3 p-2">
                    <div class="row justify-content-center">
                        <h3 class="text-center">Module 6</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="text-center">Conditionals</p>
                    </div>
                    <div class="row">
                        <p class="mb-0 text-center" id="pymod0">Progress: 0%</p>
                    </div>
                    <div class="row justify-content-center">
                        <a class="text-center" href="./python_module0.html"><button class="col-auto m-2 btn ">Resume</button><button class="col-auto m-2 btn">Restart</button></a>
                    </div>
                </div>
            </div>
            <div class="col" style="padding:50px;">
                <div class="container bg-light rounded-3 p-2">
                    <div class="row justify-content-center">
                        <h3 class="text-center">Module 7</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="text-center">Loops</p>
                    </div>
                    <div class="row">
                        <p class="mb-0 text-center">Progress: 0%</p>
                    </div>
                    <div class="row justify-content-center">
                        <a class="text-center" href="./python_module1.html"><button class="col-auto m-2 btn ">Resume</button><button class="col-auto m-2 btn">Restart</button></a>
                    </div>
                </div>
            </div>
            <div class="col" style="padding:50px;">
                <div class="container bg-light rounded-3 p-2">
                    <div class="row justify-content-center">
                        <h3 class="text-center">Module 8</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="text-center">I/O</p>
                    </div>
                    <div class="row">
                        <p class="mb-0 text-center">Progress: 0%</p>
                    </div>
                    <div class="row justify-content-center">
                        <a class="text-center" href="./python_module2.html"><button class="col-auto m-2 btn ">Resume</button><button class="col-auto m-2 btn">Restart</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding:0px;">
            <div class="col" style="padding:50px;">
                <div class="container bg-light rounded-3 p-2">
                    <div class="row justify-content-center">
                        <h3 class="text-center">Module 9</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="text-center">Lists</p>
                    </div>
                    <div class="row">
                        <p class="mb-0 text-center" id="pymod0">Progress: 0%</p>
                    </div>
                    <div class="row justify-content-center">
                        <a class="text-center" href="./python_module0.html"><button class="col-auto m-2 btn ">Resume</button><button class="col-auto m-2 btn">Restart</button></a>
                    </div>
                </div>
            </div>
            <div class="col" style="padding:50px;">
                <div class="container bg-light rounded-3 p-2">
                    <div class="row justify-content-center">
                        <h3 class="text-center">Module 10</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="text-center">Functions</p>
                    </div>
                    <div class="row">
                        <p class="mb-0 text-center">Progress: 0%</p>
                    </div>
                    <div class="row justify-content-center">
                        <a class="text-center" href="./python_module1.html"><button class="col-auto m-2 btn ">Resume</button><button class="col-auto m-2 btn">Restart</button></a>
                    </div>
                </div>
            </div>
            <div class="col" style="padding:50px;">
                <div class="container bg-dark rounded-3 p-2">
                    <div class="row justify-content-center">
                        <h3 class="text-center">Project 1</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="text-center">Tic-Tac-Toe</p>
                    </div>
                    <div class="row">
                        <p class="mb-0 text-center">Progress: 0%</p>
                    </div>
                    <div class="row justify-content-center">
                        <a class="text-center" href="./python_module2.html"><button class="col-auto m-2 btn ">Resume</button><button class="col-auto m-2 btn">Restart</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding:0px;">
            <div class="col" style="padding:50px;">
                <div class="container bg-light rounded-3 p-2">
                    <div class="row justify-content-center">
                        <h3 class="text-center">Module 11</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="text-center">Lambda Functions</p>
                    </div>
                    <div class="row">
                        <p class="mb-0 text-center" id="pymod0">Progress: 0%</p>
                    </div>
                    <div class="row justify-content-center">
                        <a class="text-center" href="./python_module0.html"><button class="col-auto m-2 btn ">Resume</button><button class="col-auto m-2 btn">Restart</button></a>
                    </div>
                </div>
            </div>
            <div class="col" style="padding:50px;">
                <div class="container bg-light rounded-3 p-2">
                    <div class="row justify-content-center">
                        <h3 class="text-center">Module 12</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="text-center">Data Structures in Python</p>
                    </div>
                    <div class="row">
                        <p class="mb-0 text-center">Progress: 0%</p>
                    </div>
                    <div class="row justify-content-center">
                        <a class="text-center" href="./python_module1.html"><button class="col-auto m-2 btn ">Resume</button><button class="col-auto m-2 btn">Restart</button></a>
                    </div>
                </div>
            </div>
            <div class="col" style="padding:50px;">
                <div class="container bg-dark rounded-3 p-2">
                    <div class="row justify-content-center">
                        <h3 class="text-center">Project 2</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="text-center">Ciphers</p>
                    </div>
                    <div class="row">
                        <p class="mb-0 text-center">Progress: 0%</p>
                    </div>
                    <div class="row justify-content-center">
                        <a class="text-center" href="./python_module2.html"><button class="col-auto m-2 btn ">Resume</button><button class="col-auto m-2 btn">Restart</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding:0px;">
            <div class="col" style="padding:50px;">
                <div class="container bg-light rounded-3 p-2">
                    <div class="row justify-content-center">
                        <h3 class="text-center">Module 13</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="text-center">Datetime</p>
                    </div>
                    <div class="row">
                        <p class="mb-0 text-center" id="pymod0">Progress: 0%</p>
                    </div>
                    <div class="row justify-content-center">
                        <a class="text-center" href="./python_module0.html"><button class="col-auto m-2 btn ">Resume</button><button class="col-auto m-2 btn">Restart</button></a>
                    </div>
                </div>
            </div>
            <div class="col" style="padding:50px;">
                <div class="container bg-light rounded-3 p-2">
                    <div class="row justify-content-center">
                        <h3 class="text-center">Module 14</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="text-center">Python Modules</p>
                    </div>
                    <div class="row">
                        <p class="mb-0 text-center">Progress: 0%</p>
                    </div>
                    <div class="row justify-content-center">
                        <a class="text-center" href="./python_module1.html"><button class="col-auto m-2 btn ">Resume</button><button class="col-auto m-2 btn">Restart</button></a>
                    </div>
                </div>
            </div>
            <div class="col" style="padding:50px;">
                <div class="container bg-light rounded-3 p-2">
                    <div class="row justify-content-center">
                        <h3 class="text-center">Module 15</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="text-center">OOP</p>
                    </div>
                    <div class="row">
                        <p class="mb-0 text-center">Progress: 0%</p>
                    </div>
                    <div class="row justify-content-center">
                        <a class="text-center" href="./python_module2.html"><button class="col-auto m-2 btn ">Resume</button><button class="col-auto m-2 btn">Restart</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding:0px;">
            <div class="col" style="padding:50px;">
                <div class="container bg-dark rounded-3 p-2">
                    <div class="row justify-content-center">
                        <h3 class="text-center">Project 3</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="text-center">Banking System</p>
                    </div>
                    <div class="row">
                        <p class="mb-0 text-center" id="pymod0">Progress: 0%</p>
                    </div>
                    <div class="row justify-content-center">
                        <a class="text-center" href="./python_module0.html"><button class="col-auto m-2 btn ">Resume</button><button class="col-auto m-2 btn">Restart</button></a>
                    </div>
                </div>
            </div>
            <div class="col" style="padding:50px;">
                <div class="container bg-light rounded-3 p-2">
                    <div class="row justify-content-center">
                        <h3 class="text-center">Module 16</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="text-center">Advanced Topics</p>
                    </div>
                    <div class="row">
                        <p class="mb-0 text-center">Progress: 0%</p>
                    </div>
                    <div class="row justify-content-center">
                        <a class="text-center" href="./python_module1.html"><button class="col-auto m-2 btn ">Resume</button><button class="col-auto m-2 btn">Restart</button></a>
                    </div>
                </div>
            </div>
            <div class="col" style="padding:50px;">

            </div>
        </div>
    </div>
    <script src="../js/modHome.js"></script>


{% endblock content %}