{% extends "layout.html" %}
{% block content %}
    <style>
    @media (min-width: 770px){
        .col-sm {
            flex: .1 0 30%;
        }
    }
    </style>

	<div class="container container-large mt-4">
		<div class="row">
            <h1 class="text-center">Modules</h1>
        </div>
        <div class="row mb-5">
            <h2 class="text-center">Learning Python</h2>
        </div>
        <div class="row justify-content-center" >
            <div class="col-sm mb-5 " style="">
                <div class="container bg-light rounded-3 p-2">
                    <div class="row ">
                        <h3 class="text-center">Module 0</h3>
                    </div>
                    <div class="row ">
                        <p class="text-center">What is Programming?</p>
                    </div>
                    <div class="row">
                        <p class="mb-0 text-center" id="pymod0">Progress: 0%</p>
                    </div>
                    <div class="row justify-content-center">
                        <a class="text-center" href="{{ url_for("python_module", module_number=0) }}"><button class="col-auto m-2 btn ">Resume</button><button class="col-auto m-2 btn">Restart</button></a>
                    </div>
                </div>
            </div>
            <div class="col-sm mb-5 " style="">
                <div class="container bg-light rounded-3 p-2">
                    <div class="row ">
                        <h3 class="text-center">Module 1</h3>
                    </div>
                    <div class="row ">
                        <p class="text-center">Introduction to Python</p>
                    </div>
                    <div class="row">
                        <p class="mb-0 text-center">Progress: 0%</p>
                    </div>
                    <div class="row justify-content-center">
                        <a class="text-center" href="{{ url_for("python_module", module_number=1) }}"><button class="col-auto m-2 btn ">Resume</button><button class="col-auto m-2 btn">Restart</button></a>
                    </div>
                </div>
            </div>
            <div class="col-sm mb-5 " style="">
                <div class="container bg-light rounded-3 p-2">
                    <div class="row ">
                        <h3 class="text-center">Module 2</h3>
                    </div>
                    <div class="row ">
                        <p class="text-center">Introduction to Python 2</p>
                    </div>
                    <div class="row">
                        <p class="mb-0 text-center">Progress: 0%</p>
                    </div>
                    <div class="row justify-content-center">
                        <a class="text-center" href="{{ url_for("python_module", module_number=2) }}"><button class="col-auto m-2 btn ">Resume</button><button class="col-auto m-2 btn">Restart</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" >
            <div class="col-sm mb-5 " style="">
                <div class="container bg-light rounded-3 p-2">
                    <div class="row ">
                        <h3 class="text-center">Module 3</h3>
                    </div>
                    <div class="row ">
                        <p class="text-center">Variables</p>
                    </div>
                    <div class="row">
                        <p class="mb-0 text-center" id="pymod3">Progress: 0%</p>
                    </div>
                    <div class="row justify-content-center">
                        <a class="text-center" href="{{ url_for("python_module", module_number=3) }}"><button class="col-auto m-2 btn ">Resume</button><button class="col-auto m-2 btn">Restart</button></a>
                    </div>
                </div>
            </div>
            <div class="col-sm mb-5 " style="">
                <div class="container bg-light rounded-3 p-2">
                    <div class="row ">
                        <h3 class="text-center">Module 4</h3>
                    </div>
                    <div class="row ">
                        <p class="text-center">Arithmetic</p>
                    </div>
                    <div class="row">
                        <p class="mb-0 text-center">Progress: 0%</p>
                    </div>
                    <div class="row justify-content-center">
                        <a class="text-center" href="{{ url_for("python_module", module_number=4) }}"><button class="col-auto m-2 btn ">Resume</button><button class="col-auto m-2 btn">Restart</button></a>
                    </div>
                </div>
            </div>
            <div class="col-sm mb-5 ">
                <div class="container bg-light rounded-3 p-2">
                    <div class="row">
                        <h3 class="text-center">Module 5</h3>
                    </div>
                    <div class="row ">
                        <p class="text-center">Strings</p>
                    </div>
                    <div class="row">
                        <p class="mb-0 text-center">Progress: 0%</p>
                    </div>
                    <div class="row justify-content-center">
                        <a class="text-center" href="#"><button class="col-auto m-2 btn ">Resume</button><button class="col-auto m-2 btn">Restart</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" >
            <div class="col-sm mb-5 " style="">
                <div class="container bg-light rounded-3 p-2">
                    <div class="row ">
                        <h3 class="text-center">Module 6</h3>
                    </div>
                    <div class="row ">
                        <p class="text-center">Conditionals</p>
                    </div>
                    <div class="row">
                        <p class="mb-0 text-center" id="pymod3">Progress: 0%</p>
                    </div>
                    <div class="row justify-content-center">
                        <a class="text-center" href="{{ url_for("python_module", module_number=3) }}"><button class="col-auto m-2 btn ">Resume</button><button class="col-auto m-2 btn">Restart</button></a>
                    </div>
                </div>
            </div>
            <div class="col-sm mb-5 " style="">
                <div class="container bg-light rounded-3 p-2">
                    <div class="row ">
                        <h3 class="text-center">Module 7</h3>
                    </div>
                    <div class="row ">
                        <p class="text-center">Loops</p>
                    </div>
                    <div class="row">
                        <p class="mb-0 text-center">Progress: 0%</p>
                    </div>
                    <div class="row justify-content-center">
                        <a class="text-center" href="#"><button class="col-auto m-2 btn ">Resume</button><button class="col-auto m-2 btn">Restart</button></a>
                    </div>
                </div>
            </div>
            <div class="col-sm mb-5 ">
                <div class="container bg-light rounded-3 p-2">
                    <div class="row">
                        <h3 class="text-center">Module 8</h3>
                    </div>
                    <div class="row ">
                        <p class="text-center">I/O</p>
                    </div>
                    <div class="row">
                        <p class="mb-0 text-center">Progress: 0%</p>
                    </div>
                    <div class="row justify-content-center">
                        <a class="text-center" href="#"><button class="col-auto m-2 btn ">Resume</button><button class="col-auto m-2 btn">Restart</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" >
            <div class="col-sm mb-5 " style="">
                <div class="container bg-light rounded-3 p-2">
                    <div class="row ">
                        <h3 class="text-center">Module 9</h3>
                    </div>
                    <div class="row ">
                        <p class="text-center">Lists</p>
                    </div>
                    <div class="row">
                        <p class="mb-0 text-center" id="pymod3">Progress: 0%</p>
                    </div>
                    <div class="row justify-content-center">
                        <a class="text-center" href="{{ url_for("python_module", module_number=3) }}"><button class="col-auto m-2 btn ">Resume</button><button class="col-auto m-2 btn">Restart</button></a>
                    </div>
                </div>
            </div>
            <div class="col-sm mb-5 " style="">
                <div class="container bg-light rounded-3 p-2">
                    <div class="row ">
                        <h3 class="text-center">Module 10</h3>
                    </div>
                    <div class="row ">
                        <p class="text-center">Functions</p>
                    </div>
                    <div class="row">
                        <p class="mb-0 text-center">Progress: 0%</p>
                    </div>
                    <div class="row justify-content-center">
                        <a class="text-center" href="#"><button class="col-auto m-2 btn ">Resume</button><button class="col-auto m-2 btn">Restart</button></a>
                    </div>
                </div>
            </div>
            <div class="col-sm mb-5 ">
                <div class="container bg-dark rounded-3 p-2">
                    <div class="row">
                        <h3 class="text-center">Project 1</h3>
                    </div>
                    <div class="row ">
                        <p class="text-center">Tic-Tac-Toe</p>
                    </div>
                    <div class="row">
                        <p class="mb-0 text-center">Progress: 0%</p>
                    </div>
                    <div class="row justify-content-center">
                        <a class="text-center" href="#"><button class="col-auto m-2 btn ">Resume</button><button class="col-auto m-2 btn">Restart</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}

    <script src="/static/js/pages/modHome.js"></script>

{% endblock scripts %}