{% extends "layout.html" %}
{% block content %}

	<div class="container container-large mt-4">
		<div class="row">
            <h1 class="text-center">Modules</h1>
        </div>
        <div class="row mb-5">
            <h2 class="text-center">Learning Python</h2>
        </div>
        <div class="">
            {% for module in modules %}
                {% set progress = module.get_progress(user_exercises=user_exercises) %}
                {% if loop.index0 % 3 == 0 %}
                    <div class="row justify-content-start">
                {% endif %}
                    <div class="col-sm mb-5 h-100">
                        <div class="container bg-light rounded-3 p-3">
                            <div class="row ">
                                <h3 class="text-center">{{ module.title }}</h3>
                            </div>
                            <div class="row">
                                <p class="mb-0 text-center">Progress: {{ progress }}%</p>
                            </div>
                            <div class="text-center mt-2">
                                {% if module.is_locked(user_exercises=user_exercises) %}
                                    <button class="btn" disabled>Locked</button>
                                {% else %}
                                    <a class="btn" href="{{ url_for("view_module", module_id=module.module_id) }}">
                                        {% if progress == 0 %}
                                            Start
                                        {% elif progress < 100 %}
                                            Continue
                                        {% else %}
                                            Review
                                        {% endif %}
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% if loop.index0 % 3 == 2 or loop.index == modules|length %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock content %}
