{% extends "layout.html" %}

{% block content %}

	<div class="container container-large mt-4">
		<div class="row">
            <h1 style="text-align:center;"> Module 1 </h1>
        </div>
        <br></br>
        <div class="row">
            <h1 style="text-align:center;"> Introduction to Python </h1>
        </div>
        <div class="row">
            <div class="col" style="padding:50px;">
            </div>
            <div class="col" style="padding:50px;">
                <div class="container bg-light rounded-3 p-2">
                    <h2 style="text-align:center;"> Sections </h2>
                    <ul>
                        <li> What is Python? </li>
                        <li> Activity: Hello World! </li>
                    </ul>
                </div>
            </div>
            <div class="col" style="padding:50px;">
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding:50px;">
                <div class="container bg-light rounded-3 p-2">
                    <h2 style="text-align:center"> What is Python? </h2>
                    <h5>In the previous module, you learned that a programming language is a computer language that both humans and computers
                        can understand. There are many programming languages out there, including Python. Python is known for being particularly
                        easy to understand and learn. The language was first developed in the 1980s and is one of the most popular
                        programming languages today. To get to know it better, let's jump into your first coding activity! </h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding:50px;">
                <div class="container bg-light rounded-3 p-2">
                    <h2 style="text-align:center"> Hello World! </h2>
                    <h5> To the right you will find the code window where you will be able to write code for any activity or project. When you're
                        ready to test code that you have written, you can press run and whatever your code outputs will appear in the box below the 
                        code window. Let's write your first program. Type the following into the code window: print("Hello World!"). Press run when 
                        you're ready and see what happens. </h5>
                </div>
            </div>
            <div class="col" style="padding:50px;">
                <div class="container bg-light rounded-3 p-2">
                    <h2 style="text-align:center"> Code window here </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding:50px;">
                <div class="container bg-light rounded-3 p-2">
                    <h2 style="text-align:center" style="padding:30px;"> Conclusion </h2>
                    <h5> Complete the acitvity above to complete the module.</h5>
                        <div class="row justify-content-center" id="finish">
                            
                        </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding:50px;">
        </div>
    </div>

{% endblock content %}

{% block scripts %}



{% endblock scripts %}