
/**********************/
/******** LAYOUT*******/
/**********************/
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
	width: 95%;
} 
@media (min-width: 768px) { 
	.container-small {
		width: 300px;
	}
	.container-medium {
		width: 800px;
		max-width: 800px;
	}
	.container-large {
		width: 970px;
	}
}
@media (min-width: 992px) {
	.container-small {
		width: 500px;
	}
	.container-medium {
		width: 1000px;
	} 
	.container-large {
		width: 1170px;
	}
}
@media (min-width: 1200px) {
	.container-small {
		width: 500px;
	} 
	.container-medium {
		width: 1100px;
	} 
	.container-large {
		width: 1500px;
	}
}
@media (min-width: 800px){
	.col-sm {
		flex: 1 0 30%;
	}
}
@media (min-width: 1200px){

	.col-sm {
		flex: .3 0 10%;
	}
}
/**********************/
/**********************/

/* width */
::-webkit-scrollbar {
	width: 16px;
	z-index: 10;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgba();
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #fff;
	border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #d0d0d0;
}

/**********************/
/*****GENERAL STYLE****/
/**********************/
small{ font-size:.7em;}

* {
	font-family: Roboto;
}
.overflow-scroll{
	overflow:scroll;
	overflow-x:hidden!important;
	padding-right:.5rem;
}

body {
	color:white;
	font-size: 15pt;
	font-family: Roboto;
	background: rgba(36,130,119,1);
}
.border-primary{
	border-color:#99E2B4!important;
}
a{
	text-decoration: none;
	color:white;
}
a:hover{
	color:white;
	text-decoration: underline;
}
.rounded-3{
	border-radius: .7rem!important;
}
.rounded-5{
	border-radius: 2rem;
}
.like-count:hover:after{
	content: '+';

}
.like-count:hover:before{
	content: '';

}
.text-muted{
	color:#ddd!important;
}
.community{
	max-height:20rem;
}
.list-group{
	padding-left: 1rem;
	flex-direction: row;
	list-style: none;
}
.list-group-item+.list-group-item,.list-group-item:last-child,.list-group-item:first-child{
	background-color: #469D89;
	color:white;
	border-radius: 1rem;
	border:none;
	margin-bottom:1rem;
	display: list-item;
	list-style: none;
}
.text-truncate{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.list-group-item > a{
	color:#fff;

}
.list-group-item > a:hover{
	text-decoration: none;

}

/**********************/
/********BUTTONS*******/
/**********************/

.btn{
	font-size:1.1rem;
	color:white;
	font-family: Roboto;
	background-color: #67B99A;
	border-color:#67B99A;
	box-shadow: 0px 3px 2px 1px rgba(0,0,0,.2);
}
.btn-lg{
	font-size:1.5rem;
}
.btn:focus{
	color:white;
	background-color: #7ed9b6;
	border-color:#7ed9b6;
}
.btn:hover{
	color:white;
	background-color: #7ed9b6;
	border-color:#7ed9b6;
}

/**********************/
/********NAVBAR********/
/**********************/
.navbar{
	font-size: 20pt;
}
.nav-link{
	color:#fff;
}
.nav-link:hover{
	text-decoration: none;
	color:#fff;
}
.navbar > ul > li > a {
	line-height: 50px;
}
.navbar-brand:hover{
	text-decoration: none;
}
.navbar-brand {
	color:white;
	font-size: 22pt;
}
.active{
	color:#99E2B4;
}
.nav-link:focus{
	color:#99E2B4;
}
/**********************/
/***BACKGROUND COLORS**/
/**********************/
.bg-light{
	color:white;
	background-color:#469D89!important;
}
.bg-extra-light{
	color:white;
	background-color:#67B99A!important;
	border-color:#67B99A!important;
}
