{% extends "layout.html" %}

{% block content %}

    {% import "block_modals.html" as modals %}
    {{ modals }}

    <div class="container container-large mt-3">
        <div class="container container-large bg-light rounded-3 p-2">
            <div class="p-1 d-flex justify-content-between ml-2">
                <div>
                    <button id="toggleModeButton" class="btn">Switch to View Mode</button>
                    <button id="reorderButton" class="btn">Re-order Blocks</button>
                </div>
                <form action="{{ url_for("publish_post") }}" method="post">
                    <input type="hidden" name="post_uuid" value="{{ post.uuid }}">
                    <button role="button" id="saveButton" class="btn">Save</button>
                    <input type="submit" class="btn" value="Post">
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div id="editCodePage" class="col-lg overflow-scroll mt-4 mb-5"></div>

            <div id="editMenu" class="col-3 m-3 p-0">
                <div id="dragBlockMenu" class="bg-light rounded-3 p-3">

                    <div class="row justify-content-center p-3">
                        <h4 class="col text-center m-0 ">Drag and Drop Blocks</h4>
                    </div>

                    <div class="d-flex justify-content-around p-1">
                        <a href="#" class="drag-and-drop-block bg-extra-light" id="addBlockText" data-block-adder>
                            <span class="drag-block-icon text-center fas fa-font"></span>
                            <span>Text Block</span>
                        </a>
                    </div>
                    <div class="d-flex justify-content-around p-1">
                        <a href="#" class="drag-and-drop-block bg-extra-light" id="addBlockImage" data-block-adder>
                            <span class="drag-block-icon text-center fas fa-image"></span>
                            <span>Image Block</span>
                        </a>
                    </div>
                    <div class="d-flex justify-content-around p-1">
                        <a href="#" class="drag-and-drop-block bg-extra-light" id="addBlockCode" data-block-adder>
                            <span class="drag-block-icon text-center fas fa-code"></span>
                            <span>Code Block</span>
                        </a>
                    </div>
                    <div class="d-flex justify-content-around p-1">
                        <a href="#" class="drag-and-drop-block bg-extra-light" id="addBlockChoice" data-block-adder>
                            <span class="drag-block-icon text-center fas fa-poll-h"></span>
                            <span>Choice Block</span>
                        </a>
                    </div>
                    <div class="d-flex justify-content-around p-1">
                        <a href="#" class="drag-and-drop-block bg-extra-light" id="addBlockPoll" data-block-adder>
                            <span class="drag-block-icon text-center fas fa-poll-h"></span>
                            <span>Poll Block</span>
                        </a>
                    </div>
                    <div class="d-flex justify-content-around p-1">
                        <a href="#" class="drag-and-drop-block bg-extra-light" id="addBlockSlider" data-block-adder>
                            <span class="drag-block-icon text-center fas fa-sliders-h"></span>
                            <span>Slider Block</span>
                        </a>
                    </div>
                </div>
            </div>


        </div>
    </div>

{% endblock content %}

{% block scripts %}

    <!-- Code Editor -->
    <script src="{{ url_for('static', filename='js/codemirror/lib/codemirror.js') }}"></script>
    <script src="{{ url_for('static', filename='js/codemirror/mode/python/python.js') }}"></script>

    <!-- Skulpt Base Library -->
    <script src="{{ url_for('static', filename='js/skulpt/skulpt.es5.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/skulpt/skulpt-stdlib.js') }}" type="text/javascript"></script>

    <!-- Page Javascript -->
    <script type="text/javascript" src="/static/js/codepage_scripts/skulpt_loader.js"></script>
    <script type="text/javascript" src="/static/js/codepage_scripts/style_rules.js"></script>
    <script type="text/javascript" src="/static/js/codepage_scripts/editable.js"></script>
    <script type="text/javascript" src="/static/js/codepage_scripts/codepage_loader.js"></script>

    <script>
        function createCodeBlock(div) {
            return CodeMirror(div, {lineNumbers: true, mode: "python", theme: "darcula"})
        }

        let editable = load_editable_codepage("editCodePage", {{ post.get_json()|tojson|safe }})
        setupSaveButton(editable, "{{ url_for("save_post") }}", "saveButton")
    </script>

{% endblock scripts %}