{% extends "layout.html" %}
{% block content %}
    {% import "posts/posts_menu_modals.html" as modals %}
    {{ modals }}

    <div class="container mb-5">
        <h1 class="mt-3">Drafts</h1>

        <div class="mt-3">
            <button class="btn" data-toggle="modal" data-target="#createPostModal">New Post</button>
        </div>

        {% for post in drafts %}
            <div class="codepage-item rounded-3">
                <h3>[draft] {{ post.title }}</h3>
                <div>Created by <a class="a-underline" href="{{ url_for("user_profile", user_uuid=post.author.uuid) }}">{{ post.author.get_display_name() }}</a> on {{ post.get_json()["date_created"] }}</div>
                <div>{{ post.get_json()['blocks']|length }} blocks</div>
                <div class="mt-1">
                    <a class="btn" href="{{ url_for("edit_post", post_uuid=post.uuid) }}">Edit</a>
                    <a class="btn btn-danger" data-toggle="modal" data-target="#deletePostModal" onclick="setDeletePostName('{{ post.title }}', '{{ post.uuid }}')">Delete</a>
                </div>
            </div>
        {% endfor %}



        <h1 class="mt-5">Posts</h1>

        {% for post in posts %}
            <div class="codepage-item rounded-3">
                <h3><a class="a-underline" href="{{ url_for("view_post", post_uuid=post.uuid) }}">{{ post.title }}</a></h3>
                <div>Created by <a class="a-underline" href="{{ url_for("user_profile", user_uuid=post.author.uuid) }}">{{ post.author.get_display_name() }}</a> on {{ post.get_json()["date_created"] }}</div>
                <div>{{ post.get_json()['blocks']|length }} blocks</div>

            </div>
        {% endfor %}

    </div>

{% endblock content %}

{% block scripts %}

    <script>
        let deleteInput = $("#postNameInputDelete")
        deleteInput.on("keyup", (key) => {
            if (deletePostName && $("#postNameInputDelete").val() === deletePostName) {
                $("#deletePostButton").prop("disabled", false)
            } else {
                $("#deletePostButton").prop("disabled", true)
            }
        })

        let deletePostName = undefined

        function setDeletePostName(name, uuid) {
            deletePostName = name
            $("#postNameSpan").text(name)
            deleteInput.attr("placeholder", `Type '${name}'`)
            deleteInput.val("")
            $("#deletePostUUIDInput").val(uuid)
            setTimeout(() => { deleteInput.focus() }, 500);
        }
    </script>

{% endblock scripts %}