{% extends "layout.html" %}
{% block title %}Dynamicode{% endblock title %}
{% block content %}
	<div class="d-flex align-items-center min-vh-100">
	<a href="/home" class="container container-small " ><style>a:hover{text-decoration:none;}</style>
		<div class="row justify-content-center">
			<img   class="col-3 " src="../../static/images/a_really_good_logo.png">
		</div>
		<div class="row mt-5">
			<h1  class=" col text-center display-4">404</h1>
		</div>
		<div class="row">
			<h3 class=" col text-center display-6" > You don messed up</h3>
		</div>
</a>
	</div>
{% endblock content %}